<div class="sidebar">
  <div class="profile">
    <div class="profile__info">
      <img class="profile__pic" src="" alt="">
      <span antIcon type="user" theme="outline"></span>
      <span class="profile__name">Kirill Larin</span>
    </div>
  </div>
  <div class="sidebar__body">
    <div class="sidebar__links">
      <input type="text" placeholder="Search">
      <button class="sidebar__link">Calendar</button>
      <button class="sidebar__link">Settings</button>
      <button class="sidebar__link">New page</button>
    </div>
    <div class="sidebar__pages">
      <span>Pages</span>
      <div>Smth page</div>
    </div>
  </div>
</div>